html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 35px;
	padding-right: 35px;
}

.header-background {
	background: #293340;
}

.hover-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 35px;
}

.logo {
	font-size: 40px;
	color: white;
	text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.logo:after {
    content: '';
    display: block;
    margin-top: 8px;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.logo:hover:after {
    width: 100%;
    background: white;
}

.account-buttons {
	display: flex;
	justify-content: space-between;
}

.header-div .button_to input {
	background: #293340;
	color: white;
	padding: 10px;
	border: 2px solid transparent;
	transition: border 0.3s;
	font-size: 20px;
}

.header-div .button_to input:hover {
	border: 2px solid white;
	cursor: pointer;
}

.header-div .button_to input:active {
	background: white;
	color: black;
}

.home-background {
	background-image: url('./images/phone-notebook-laptop.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 500px;
}

.home-section-1 {
	margin-left: 35px;
	background: rgba(0,0,0,0.6);
	max-width: 430px;
	color: white;
	font-family: sans-serif;
	text-align: center;
	padding: 36px;
	border: 2px solid white;
	border-radius: 15px;
	transition: background 0.3s;
	font-size: 20px;
}

.home-section-1:hover {
	background: rgba(0,0,0,1);
}

.home-h1 {
	font-size: 40px;
	font-weight: 500;
}

.home-p-1 {
	line-height: 1.3;
}

.home-arrow-1 {
	max-width: 150px;
	margin: 0 auto;
	padding: 10px;
	background: transparent;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: border 0.3s;
}

.home-arrow-1:hover {
	cursor: pointer;
	border: 1px solid white;
}

.home-arrow-1:active {
	background: white;
	color: black;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
	margin-right: 5px;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

#home-middle {
	font-family: sans-serif;
	padding: 55px;
}

#home-middle > h2 {
	margin: 0 auto;
	width: 350px;
	font-size: 30px;
	padding-bottom: 20px;
}

.home-steps {
	display: flex;
	justify-content: space-around;
}

div[class^='home-step-'] {
  text-align: center;
}

.chevron.right {
	margin: auto 30px;
}

div[class^='home-step-'] > img {
	width: 150px;
}

div[class^='home-step-'] > p {
	line-height: 1.3;
}

.home-bottom {
	background: black;
	padding: 55px;
	color: white;
	font-family: sans-serif;
	text-align: center;
}

.home-bottom > p {
	font-size: 30px;
}

.gray-border {
	border: 1px solid gray;
}

.home-created-by {
	font-size: 12px;
}

.home-back-to-top {
	font-size: 18px;
}

.auth-div {
	margin: 20px;
	font-family: sans-serif;
}

.auth-h1 {
	text-align: center;
	padding: 35px;
	font-size: 42px;
}

.auth-missing {
	color: red;
	text-align: center;
	font-size: 16px;
	line-height: 1.3;
}

.auth-div form {
	text-align: center;
}

.auth-div form input {
	padding: 10px 0;
}

.auth-div form input:last-child {
	width: 295px;
	background: #293340;
	color: white;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	font-size: 25px;
	margin: 30px 0;
}

.auth-div form input:last-child:hover {
	background: #293340;
	filter: brightness(80%);
}

.auth-div form input:last-child:active {
	background: white;
	color: #293340;
	border: 2px solid #293340;
}

.auth-footer {
	text-align: center;
	margin-top: 30px;
}

.dash-header {
	text-align: center;
	margin: 15px 30px;
	font-family: sans-serif;
}

.dash-header hr {
	color: rgb(250,250,250);
}

.dash-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	font-family: sans-serif;
	margin: 0 40px;
}

.dash-projects {
	flex: 1;
	margin: 0 30px;
}

.dash-projects-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.dash-projects-header input:last-child {
	background: transparent;
	border: 1px solid gray;
	border-radius: 2px;
	color: blue;
	font-weight: bold;
}

.dash-projects-header input:last-child:hover {
	cursor: pointer;
	background: rgb(240,240,240);
}

.dash-projects hr {
	color: rgb(250,250,250);
}

.dash-project-link {
	text-decoration: none;
}

.dash-project-link:hover {
	text-decoration: underline;
}

.dash-project-description {
	margin: 10px;
	font-size: 16px;
}

.dash-create-link {
	font-size: 14px;
}

.dash-separator {
	color: rgb(180,180,180);
}

.new-project-div {
	margin: 30px 100px;
	font-family: sans-serif;
}

.h1 {
	font-size: 36px;
	margin: 10px 0;
}

.new-project-missing {
	text-align: left;
}

.new_project label, .edit_project label, .new_issue label, .edit_issue label {
	font-size: 14px;
	font-weight: bold;
}

.new_project #project_name, .new_project #project_description,
.edit_project #project_name, .edit_project #project_description,
.new_issue #issue_subject, .new_issue #issue_description,
.edit_issue #issue_subject, .edit_issue #issue_description, #comments-section textarea {
	width: 100%;
}

.new_project #project_description, .edit_project #project_description,
.new_issue #issue_description, .edit_issue #issue_description, #comments-section textarea {
	font-size: 18px;
	height: 8em;
}

.new_project input:last-child, .edit_project input:last-child,
.new_issue > input:last-child, .edit_issue > input:last-child, #comments-section > button {
	background: #293340;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	padding: 5px;
	margin: 10px 0;
}

.new_project input:last-child:hover, .edit_project input:last-child:hover,
.new_issue > input:last-child:hover, .edit_issue > input:last-child:hover,
#comments-section > button {
	background: #293340;
	filter: brightness(80%);
	cursor: pointer;
}

.new-project-div form:last-child input,
.a-project-buttons form:first-child input {
	background: white;
	border: 1px solid rgb(200,200,200);
	padding: 5px 10px;
	border-radius: 2px;
}

.new-project-div form:last-child input:hover,
.a-project-buttons form:first-child input:hover,
.a-project-buttons form:last-child input:hover {
	cursor: pointer;
	background: rgb(250,250,250);
}

.a-project-div {
	margin: 50px 200px;
	font-family: sans-serif;
}

.a-project-header {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.a-project-buttons {
	display: flex;
	justify-content: space-between;
}

.a-project-buttons form:first-child input {
	border: 1px solid rgb(100,100,100);
}

.a-project-buttons form:last-child input {
	color: red;
	background: white;
	border: 1px solid red;
	padding: 5px 10px;
	border-radius: 2px;
	margin-left: 2px;
}

.a-project-buttons form:last-child input:disabled {
	background: #dddddd;
	border: 1px solid #aaaaaa;
	color: #aaaaaa;
	cursor: auto;
}

.a-project-div hr {
	margin: 20px 0;
	color: rgb(250,250,250);
}

.a-project-description {
	font-size: 20px;
}

.paragraph {
	line-height: 1.3;
}

.issue-form-line {
	display: flex;
	justify-content: space-between;
}

.comment-header {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.comment-content {
	margin: 30px;
	font-size: 20px;
}

.no-comments {
	margin: 40px;
	font-size: 16px;
	text-align: center;
	color: gray;
}

.new-comment-label {
	display: block;
	text-align: center;
	font-size: 22px;
}

.loading {
	text-align: center;
	margin-bottom: 35px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #293340 transparent #293340 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
